/*页码*/
.section-page{text-align:center; line-height: 26px; height:26px;}
.section-page a,.section-page span,.section-page2 a,.section-page2 span{display: inline-block; vertical-align: middle;}
.section-page a,.section-page2 a{color:#c1bebe; width:20px; height:20px; margin-left:5px;border-radius: 50%;text-align:center;line-height: 20px;}
.section-page a:hover{color:#000;}
.section-page2 a:hover{color:#fff;}
.section-page a.current,.section-page a.current:hover{cursor: default; color:#fff; background-color: #4b5d7a; }
.section-page2 a.current2,.section-page2 a.current2:hover{cursor: default; color:#fff; background-color: #94d91c; }
.section-page a.page-disabled,.section-page a.page-disabled:hover{color: #aaa; background-color: transparent;cursor:default;}
.section-page a.page-previous,.section-page a.page-next,.section-page2 a.page-previous,.section-page2 a.page-next{width:auto; padding: 0 6px;border-radius: 3px;}
.page-line{width:0; height:26px; border-left:#e8e8e8 1px solid; margin: 0 5px 0 15px;}
.page-num-more{margin-left: 8px;color:#c1bebe;}
.section-content2 .section-page{margin-top: 20px;}body {
}
